.header-attr {
    position: relative;
    height: 400px;
    color: #fff;
    text-align: center;
    background-image: url("../assets/header/campecheIsland.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
  }

h1 {
  text-align: center;
  margin: auto;
  color: orange;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Kaushan Script', cursive;
  font-size: 90px;
}

.main-section {
  display: flex;
  justify-content: center;
}

.main-section > .attraction {
  width: 1000px;
}

.main-section > .attraction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -4px;
}

.main-section > .attraction> .first-block > .image img {
  width: 100%;
  height: 324px;
  object-fit: cover;
}

.main-section > .attraction > .first-block > .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 42px;
}

.main-section > .attraction > .first-block h2 {
  color: rgb(0, 225, 255);
}

@media(max-width: 700px) {
  
  h1 {
    font-size: 50px;
  }
}

@media(max-width: 425px) {

  h1 {
    font-size: 30px;
  }
  .main-section > .attraction {
    grid-template-columns: 1fr;
  }

}