.header-cont {
  position: relative;
  height: 400px;
  color: #fff;
  text-align: center;
  background-image: url("../assets/header/bridge.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

input[type=text],input[type=email],input[type=tel],input[type=date],input[type=number], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color:#00c4cc;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin: 0 auto;
}

input[type=submit]:hover {
  background-color: #419da0;
}

.container {
  border-radius: 5px; 
  background-color: #f2f2f2;
  padding: 20px 40px;
  max-width: 800px;
  margin: 30px auto;
  /* background-image: url("../assets/slider/campeche.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  opacity: 0.5; */
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.small-field {
  margin-top: 15px;
}

.end {
  float: right;
  width: 75%;
  margin-top: 40px;
  margin-bottom: 30px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#display {
  width: 50px;
}

@media(max-width: 700px) {

  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

}

@media(max-width: 425px) {

  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

}