.header-hist {
    position: relative;
    height: 400px;
    color: #fff;
    text-align: center;
    background-image: url("../assets/header/stoAntonio.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    margin: auto;
    color: orange;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Kaushan Script', cursive;
    font-size: 90px;
}

.container {
    max-width: 832px;
    margin: 0 auto;
}

.gallery {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.gallery li {
    float: left;
    margin: 4px;
}