/* Header */
body {
    margin: 0;
    overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.mySlides img {
  width: 100%;
  height: auto;
  min-width: 900px;
  margin-bottom: -4px;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.header spam {
  float: left;
  font-family: 'Kaushan Script', cursive;
  color: white;
  font-size: 50px;
  margin-left: 25px;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.8);
}

nav.scrolled {
  background: rgba(17, 17, 17, 0.9);
}

nav ul {
  float: right;
  list-style: none;
  padding: 10px;
  margin: 0;
  margin-right: 25px;
}

nav li {
  float: left;
}

nav a {
  font-family: helvetica, arial, sans-serif;
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  margin: 5px 0 0 20px;
  display: block;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.8);
}

nav a:hover, nav .active {
  color: #ff992f;
}

.menu-icon {
  display: none;
  float: right;
  margin: 15px 20px;
}

.closebtn {
  display:none;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.menu-icon div {
  width: 35px;
  height: 5px;
  background-color: #ff992f;
  border-radius: 10px;
  margin: 6px 0;
}

/* Slides */
.slideshow-container {
    position: relative;
}

.main-title {
  font-family: 'Kaushan Script', cursive;
  color: white;
  font-size: 120px;
  animation: revealing 3s forwards, moving-resizing 2s 3s forwards;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #eee;
  font-weight: bold;
  font-size: 50px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.2);
}
  
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

h1 {
    text-align: center;
    margin: auto;
    color: orange;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Kaushan Script', cursive;
    font-size: 90px;
}

.footer canvas {
    margin: 0;
    margin-bottom: -6px;
}

.main-content {
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial;
}

@keyframes revealing {
  0%   {opacity:0; font-size: 100px;}
  50% {opacity:1; font-size: 200px;}
  100% {opacity:1; font-size: 190px;}
}

@keyframes moving-resizing {
  0%   {left:50%; top:30%; font-size: 190px;}
  100% {left:150px; top:5%; font-size: 50px;}
}

@media(max-width: 817px) {
  nav a {
    font-size: 10px;
  }
}

@media(max-width: 700px) {
  h1 {
      font-size: 50px;
  }

  .main-title {
      font-size: 50px;
  }

  nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 12;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .backdrop {
      display: none;
      background: rgba(0, 0, 0, 0.5);
      height: 100vh;
      width: 100vw;
      z-index: 11;
      position: fixed;
      top: 0;
      transition: opacity 0.2s linear;
  }

  nav a {
    font-size: 1.5rem;
    
  }

  nav li {
    margin-bottom: 20PX;
  }

  nav ul {
    text-align: left;
    transition: 0.3s;
  }
  
  .menu-icon, .closebtn {
    display: block;
  }


  .prev, .next {
    font-size: 30px;
  }

  @keyframes revealing {
    0%   {opacity:0; font-size: 40px;}
    50% {opacity:1; font-size: 70px;}
    100% {opacity:1; font-size: 60px;}
  }
  
  @keyframes moving-resizing {
    0%   {left:50%; top:30%; font-size: 60px;}
    100% {left:120px; top:5%; font-size: 40px;}
  }

  .header spam {
    font-size: 40px;
    margin-left: 20px;
  }

  .main-content {
    margin: 0 20px;
  }
}

@media(max-width: 425px) {
    h1 {
        font-size: 30px;
    }

  .main-title {
      font-size: 20px;
  }

  .prev, .next {
    font-size: 20px;
  }

  @keyframes revealing {
    0%   {opacity:0; font-size: 20px;}
    50% {opacity:1; font-size: 50px;}
    100% {opacity:1; font-size: 40px;}
  }
  
  @keyframes moving-resizing {
    0%   {left:50%; top:30%; font-size: 40px;}
    100% {left:90px; top:5%; font-size: 30px;}
  }

  .header spam {
    font-size: 30px;
    margin-left: 15px;
  }
  .main-content {
    margin: 0 10px;
  }
}



