/* Header */
body {
    margin: 0;
    overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
}

.mySlides img {
    width: 100%;
    height: auto;
    min-width: 900px;
    margin-bottom: -4px;
}

 nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}

nav.scrolled {
  background: rgba(17, 17, 17, 0.9);
}

nav ul {
  float: right;
  list-style: none;
  padding: 10px;
  margin: 0;
  margin-right: 25px;
}

nav li {
  float: left;
}

nav a {
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  margin: 5px 0 0 20px;
  display: block;
}

nav a:hover {
  color: gray;
}

/* Slides */
.slideshow-container {
    position: relative;
}

.main-title {
  font-family: 'Kaushan Script', cursive;
  color: white;
  font-size: 120px;
  animation: revealing 3s forwards, moving-resizing 2s 3s forwards;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #eee;
  font-weight: bold;
  font-size: 50px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.2);
}
  
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* Footer */
.footer canvas {
  margin: 0;
  margin-bottom: -6px;
}

/* History */
.header-hist {
  position: relative;
  height: 400px;
  color: #fff;
  text-align: center;
  background-image: url("../images/slider/mercadoMunicipal.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

@keyframes revealing {
  0%   {opacity:0; font-size: 100px;}
  50% {opacity:1; font-size: 200px;}
  100% {opacity:1; font-size: 190px;}
}

@keyframes moving-resizing {
  0%   {left:50%; top:30%; font-size: 190px;}
  100% {left:150px; top:5%; font-size: 50px;}
}

@media(max-width: 700px) {
  nav spam {
      font-size: 50px;
  }

  nav ul {
    display: none;
  }

  .prev, .next {
    font-size: 30px;
  }

}

@media(max-width: 425px) {
  nav spam {
      font-size: 30px;
  }

  nav ul {
    display: none;
  }

  .mySlides img {
    transform: translate(-41%);
  }

  .prev, .next {
    font-size: 20px;
  }

}

 
